@layer base {
    /* This style is REQUIRED due to how kobalte handles focus-visible state */
    /* * {
        @apply outline-none [&[data-focus-visible]]:outline-white;
    } */

    /* :root {
        --background: 0 0% 100%;
        --foreground: 240 10% 3.9%;

        --muted: 240 4.8% 95.9%;
        --muted-foreground: 240 3.8% 46.1%;

        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 3.9%;

        --border: 240 5.9% 90%;
        --input: 240 5.9% 90%;

        --card: 0 0% 100%;
        --card-foreground: 240 10% 3.9%;

        --primary: 240 5.9% 10%;
        --primary-foreground: 0 0% 98%;

        --secondary: 240 4.8% 95.9%;
        --secondary-foreground: 240 5.9% 10%;

        --accent: 240 4.8% 95.9%;
        --accent-foreground: 240 5.9% 10%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;

        --info: 204 94% 94%;
        --info-foreground: 199 89% 48%;

        --success: 149 80% 90%;
        --success-foreground: 160 84% 39%;

        --warning: 48 96% 89%;
        --warning-foreground: 25 95% 53%;

        --error: 0 93% 94%;
        --error-foreground: 0 84% 60%;

        --ring: 240 5.9% 10%;

        --radius: 0.5rem;
    }

    [data-kb-theme='dark'] {
        --background: 240 10% 3.9%;
        --foreground: 0 0% 98%;

        --muted: 240 3.7% 15.9%;
        --muted-foreground: 240 5% 64.9%;

        --accent: 240 3.7% 15.9%;
        --accent-foreground: 0 0% 98%;

        --popover: 240 10% 3.9%;
        --popover-foreground: 0 0% 98%;

        --border: 240 3.7% 15.9%;
        --input: 240 3.7% 15.9%;

        --card: 240 10% 3.9%;
        --card-foreground: 0 0% 98%;

        --primary: 0 0% 98%;
        --primary-foreground: 240 5.9% 10%;

        --secondary: 240 3.7% 15.9%;
        --secondary-foreground: 0 0% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;

        --info: 204 94% 94%;
        --info-foreground: 199 89% 48%;

        --success: 149 80% 90%;
        --success-foreground: 160 84% 39%;

        --warning: 48 96% 89%;
        --warning-foreground: 25 95% 53%;

        --error: 0 93% 94%;
        --error-foreground: 0 84% 60%;

        --ring: 240 4.9% 83.9%;

        --radius: 0.5rem;
    } */
}

/* This style is REQUIRED due to how kobalte handles focus-visible state */
* {
    @apply outline-none [&[data-focus-visible]]:outline-white;
}

@layer base {
    /*  * {
        @apply border-border;
    } */
}

@media (max-width: 640px) {
    .container {
        @apply px-4;
    }
}

body {
    /* @apply bg-background text-foreground; */
    font-feature-settings:
        'rlig' 1,
        'calt' 1;
    margin: 0;
    font-family: Ubuntu, 'times new roman', times, roman, serif;
    cursor: default;
    background-color: transparent !important;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 14px;
}

:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    background-color: transparent !important;
}

/* :root::before {
    content: '';
    width: 100%;
    height: 100%;
    background-image: var(--user-image);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: var(--image-opacity);
    transition: background-image 300ms ease;
} */

#root {
    text-align: center;
    background-color: transparent !important;
}

.main-div {
    height: 100vh;
    overflow: hidden;
    border-radius: 0.4rem;
    /* Clothoid Gradient */
    background: linear-gradient(247.32deg, #282830 0%, #181c28 100%);
}
